{% extends "base_generic.html" %}

{% block content %}
  <h1>Pojištěnec: {{ pojistenec.jmeno }} {{pojistenec.prijmeni}}</h1>

  <p><strong>Jméno:</strong> {{pojistenec.jmeno}}</p>
  <p><strong>Příjmení:</strong> {{pojistenec.prijmeni}}</p>
  <p><strong>Email:</strong> {{pojistenec.email}}</p>
  <p><strong>Telefon:</strong> {{pojistenec.telefon}}</p>
  <p><strong>Ulice a č.p.:</strong> {{pojistenec.cislo_popisne}}</p>
  <p><strong>Město:</strong> {{pojistenec.mesto}}</p>
  <p><strong>PSČ:</strong>{{pojistenec.psc}}</p>

  <div>
    <p><a class = 'button modifier' href="{% url 'pojistenec_update' pojistenec.id%}"> Upravit </a></p>
    <p><a class = 'button constructor' href="{% url 'pojistit-pojistence' pojistenec.id%}"> Pojistit </a></p>
    <p><a class = 'button destructor' href="{% url 'pojistenec_delete' pojistenec.id%}"> Vymazat </a></p>
  </div>


  {% if pojistenec.pojisteni_set.all %}
  <div>
    <h4>Sjednaná pojištění</h4>
    <table>
      <thead>
        <th>Typ pojištění</th>
        <th>Částka</th>
        <th>Měsíční pojistné</th>
        <th>Platnost od</th>
        <th>Platnost do</th>
        <th>ID pojištění</th>
        <th>Možné úpravy</th>
      </thead>  
      {% for pojisteni in pojistenec.pojisteni_set.all %}
      <tr>
        <td>
          {{pojisteni.typ_pojisteni}}
        </td>
        <td>
          {{pojisteni.castka}} Kč
        </td>
        <td>
          {{pojisteni.mesicni_pojistne}} Kč
        </td>
        <td>
          {{pojisteni.platnost_od}}
        </td>
        <td>
          {{pojisteni.platnost_do}}
        </td>
        <td>
          <a href="{{pojisteni.get_absolute_url}}">{{pojisteni.id}}</a>
        </td>
        <td>
          úpravy
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}
{% endblock %}