{% extends "base_generic.html" %}

{% block content %}
  <h1>Seznam sjednaných pojištění</h1>
  {% if pojisteniinstance_list %}
  <table>
    <thead>
      <th>Pojištěnec</th>
      <th>Typ pojištění</th>
      <th>Částka</th>
      <th>Měsíční pojistné</th>
      <th>Platnost od</th>
      <th>Platnost do</th>
      <th>ID pojištění</th>
      <th>Možné úpravy</th>
    </thead>
    {% for pojisteniinstance in pojisteniinstance_list %}
      <tr>
        <td>
          <a href="{{pojisteniinstance.pojistenec.get_absolute_url}}">{{pojisteniinstance.pojistenec.prijmeni}}, {{ pojisteniinstance.pojistenec.jmeno }}</a>
        </td>
        <td>
          {{pojisteniinstance.pojisteni}}
        </td>
        <td>
          {{pojisteniinstance.castka}} Kč
        </td>
        <td>
          {{pojisteniinstance.mesicni_pojistne}} Kč
        </td>
        <td>
          {{pojisteniinstance.platnost_od}}
        </td>
        <td>
          {{pojisteniinstance.platnost_do}}
        </td>
        <td>
          <a href="{{pojisteniinstance.get_absolute_url}}">{{pojisteniinstance.id}}</a>
        </td>
        <td>
          úpravy
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Zatím nejsou zaregistrování žádní pojištěnci pojištění.</p>
  {% endif %}
{% endblock %}
