{% extends "base_generic.html" %}

{% block content %}
  <h2>{{pojisteni}}</h2>

  <p><strong>Pojištěnec:</strong> <a href="{{pojisteni.pojistenec.get_absolute_url}}">{{pojisteni.pojistenec.jmeno}} {{pojisteni.pojistenec.prijmeni}}</a></p>
  <p><strong>Typ pojištění</strong> {{pojisteni.typ_pojisteni}}</p>
  <p><strong>Částka:</strong> {{pojisteni.castka}}</p>
  <p><strong>Měsíční pojistné:</strong> {{pojisteni.mesicni_pojistne}}</p>
  <p><strong>Platnost od:</strong> {{pojisteni.platnost_od}}</p>
  <p><strong>Platnost do:</strong> {{pojisteni.platnost_do}}</p>
  {% if pojisteni.predmet_pojisteni %}
  <p><strong>Předmět pojištění:</strong> {{pojisteni.predmet_pojisteni}}</p>
  {% endif %}
  <p><strong>ID pojištění:</strong> {{pojisteni.id}}</p>

{% endblock %}