{% extends "base_generic.html" %}

{% block content %}
  <h1 class= 'list-header'>Seznam pojištěnců</h1>
  {% if pojistenec_list %}
  <table class= 'list-table'>
    <thead>
      <th>Jméno</th>
      <th>Bydliště</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Možné úpravy</th>
    </thead>
    {% for pojistenec in pojistenec_list %}
    <tr>
      <td class= 'td-jmeno-pojistence'>
        <a href="{{ pojistenec.get_absolute_url }}">{{ pojistenec.jmeno }} {{pojistenec.prijmeni}}</a>
      </td>
      <td>
        {{pojistenec.ulice}} {{pojistenec.cislo_popisne}}, {{pojistenec.mesto}}
      </td>
      <td>
        {{pojistenec.telefon}}
      </td>
      <td>
        {{pojistenec.email}}
      </td>
      <td>
        <a class = 'button modifier' href="{% url 'pojistenec_update' pojistenec.id%}"> Upravit</a> <a class = 'button constructor' href="{% url 'pojistit-pojistence' pojistenec.id %}"> Pojistit</a> <a class = 'button destructor' href="{% url 'pojistenec_delete' pojistenec.id%}"> Vymazat</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Zatím nejsou zaregistrováni žádní pojištěnci.</p>
  {% endif %}

{% endblock %}

{% block register_entity%}
<div class= 'outside-list-button-container'>
<a class = 'button constructor' href="{% url 'pojistenec_create'%}"> Registrovat pojištěnce </a>
</div>
{% endblock %}
