{% extends "base_generic.html" %}

{% block content %}
  <h1>{{pojisteniinstance}}</h1>

  <p><strong>Pojištěnec:</strong> <a href="{{pojisteniinstance.pojistenec.get_absolute_url}}">{{pojisteniinstance.pojistenec.jmeno}} {{pojisteniinstance.pojistenec.prijmeni}}</a></p>
  <p><strong>Typ pojištění</strong> {{pojisteniinstance.pojisteni}}</p>
  <p><strong>Částka:</strong> {{pojisteniinstance.castka}}</p>
  <p><strong>Měsíční pojistné:</strong> {{pojisteniinstance.mesicni_pojistne}}</p>
  <p><strong>Platnost od:</strong> {{pojisteniinstance.platnost_od}}</p>
  <p><strong>Platnost do:</strong> {{pojisteniinstance.platnost_do}}</p>
  <p><strong>ID pojištění:</strong>{{pojisteniinstance.id}}</p>


  <div>
    <h4>Sjednaná pojištění</h4>

    {% for pojisteni_instance in pojistenec.pojisteniinstance_set.all %}
      <hr>
      <p>{{pojisteni_instance.id}}</p>
    {% endfor %}
  </div>
{% endblock %}