{% extends "base_generic.html" %}

{% block content %}
  <h1 class= 'list-header'>Seznam typů pojištění</h1>
  {% if typpojisteni_list %}
  <table  class= 'list-table'>
    <thead>
      <th>Typ pojištění</th>
    </thead>
    {% for typpojisteni in typpojisteni_list %}
      <tr>
        <td class = 'td-typ-pojisteni'>
          {{ typpojisteni }}
        </td>
        <td>
          <a class = 'button destructor' href="{% url 'typ-pojisteni_delete' typpojisteni.id%}"> Vymazat</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Zatím nejsou nabízeny žádné typy pojištění.</p>
  {% endif %}
{% endblock %}

{% block register_entity%}
<div class= 'outside-list-button-container'>
<a class = 'button constructor' href="{% url 'typ-pojisteni_create'%}"> Nový typ pojištění </a>
</div>
{% endblock %}