@font-face{
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face{
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

*{
    box-sizing: border-box;
}

body{
    font: 14px Poppins;
    color: #414042;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding-top: 100px;
    min-width: 1060px;
    min-height: 100vh;
    justify-content: space-between;
}

body > header{
    height: 100px;
    width: 100%;
    background: #707070;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
    min-width: 960px;
}

#logo{
    height: 40px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo h1{
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
}

nav ul{
    display: flex;
    margin:0;
    list-style-type: none;
    align-items: center;
    justify-content: left;
    height: 100%;
}

nav ul li{
    padding: 0 20px;
    margin: 0 5px;
    font: 1em;
    line-height: 4.3em;
}

nav li a{
    color: #C0C0C0;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover, .aktivni a{
    color: white;
}

#container{
    min-width: 960px;
    padding: 80px 50px;
    margin: 0 auto;
    flex: 1;
}

h1{
    margin: 20px 0;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
}

footer{
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: #414042;
    padding-top: 45px;
    clip-path: polygon(0 30px, 0 100%, 100% 100%, 100% 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.index p{
    font-size: 1.3em;
}

table{
    margin: 10px 5px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th{
    padding: 8px 6px;
    text-align: center;
} 

td{
    padding: 8px 6px;
    text-align: right;
}

.button{
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px;
    height: 25px;
    border-radius: 5px;
    margin: 1px;
    display: inline-block
}

.constructor{
    background: #70b73a;
}

.destructor{
    background: #af2427;
}

.modifier{
    background: #c7c42f;
}


.paginator-container{
    text-align: center;
}

.paginator-navigation a{
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px;
    height: 25px;
    margin: 0px;
    display: inline-block;
    background-color: grey;
    border-radius: 2px;
}

#aktivni-paginator {
    background-color: #4560d0;
}

#paginator-go-to-start{
    border-radius: 15px 2px 2px 15px;
}

#paginator-go-to-end{
    border-radius: 2px 15px 15px 2px;
}